{# app/Resources/views/user/seasonPage.html.twig #}

{% extends "layout.html.twig" %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/updateState.js') }}"></script>
{% endblock %}

{% block mainContentStyle %}items{% endblock %}


{% block mainContent %}
<div class="items-container not-left-indent col-md-12">
    <div class="item-block not-left-indent col-md-12">
        <div class="item-block__title col-md-12">Сезон {{ season.getSeason().getName() }}</div>
        <div class="item-block list col-md-12">
            {% for series in season.getSeries() %}
                <div class="user-item list__item">
                    <div class="user-item__icon"></div>
                   {% set visibled = '' %}
                    {% if series.getVisible() %}
                        {% set visibled = 'user-item__visible-icon_active' %}
                    {% endif %}
                    <div class="user-item__visible-icon {{ visibled }}" data-id="{{ series.getId() }}" data-parentId="{{ season.getSerialData().getId() }}"></div>
                    <div class="user-item__description">Серия {{ series.getSeries().getName() }} </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}