{# app/Resources/views/itemPage/itemPage.html.twig #}

{% extends "layout.html.twig" %}

{% block javascript %}<script type="text/javascript" src="{{ asset('js/sendComment.js') }}"></script>{% endblock %}

{% block mainContentStyle %}item-page{% endblock %}

{% block mainContent %}
    <div class="image-container col-xs-3 col-sm-3">
        <img class="image-container__image" width="275" height="408"/>
        <div class="rate col-xs-12">Рейтинг {{ data.rate }}/10 </div>
    </div>
    <div class="info-block col-xs-9 col-sm-8">
        <div class="info-block__description-title title">Cюжет</div>
        <div class="info-block__description">{{ previewInfo.description }} </div>
        <div class="info-block__actors-title title">Актеры</div>
        <div class="info-block__actors-list">{{ previewInfo.actors }} </div>
        <div class="info-block__actors-title title">Жанры</div>
        <div class="info-block__tags-container tags-list">
            {% set genries = data.genries|split(',')  %}
            {% for genry in genries %}
                <span class="tags-list__tag">{{ genry }}</span >
            {% endfor %}
        </div>
        {% if app.user %}
            {% if not(hasItem) %}
                <div><a href="{{ path('add_serial', {'id': data.id }) }}">Добавить в список</a></div>
            {% else %}
                <div><a href="{{ path('remove_serial', {'id': data.id }) }}">Удалить из списка</a></div>
            {% endif %}
        {% endif %}

    </div>

    <div class="comment-block сol-xs-10 col-sm-10">
        <div class="delimeter"></div>

        {% if app.user %}
        <div class="col-xs-9">
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" placeholder="Написать отзыв" data-id="{{ previewInfo.id }}"></textarea>
            </div>
            <button class="btn btn-default btn-primary" id="sendComment">Добавить</button>
        </div>
        {% endif %}

        <div class="col-xs-9 comment-list">
        {% set comments = previewInfo.getComments() %}
        {% for comment in comments %}
            <div class="comment-list__comment-item col-xs-12 col-sm-12">
                <div class="user__icon" style="background-image: url('{{ comment.getUser().getCapture() }}')"></div>
                <div class="text-container">
                    <div class="user__name">{{ comment.getUser().getUsername() }}<span>, оставлен {{ comment.getDate().format("d.m.Y") }}</span></div>
                    <div class="user__comment">{{ comment.getText() }} </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}