{# app/Resources/views/template/sidebar.html.twig #}


{% block sidebar %}
    <div class="sidebar col-xs-2 col-sm-2">

    {% if app.user %}
        <div class="category-block">
            <div class="category-block__name">Пользователь</div>

                <div class="category-block__category_element text-container">
                    <a href="{{ path("serials")}}" class="text-container__text">Мои сериалы</a>
                </div>
                <div class="category-block__category_element text-container">
                    <a href="{{ path("viewed") }}" class="text-container__text">Просмотренные</a>
                </div>
                <div class="category-block__category_element text-container">
                    <a href="{{ path("timetable") }}" class="text-container__text">Расписание</a>
                </div>
        </div>
        <div class="delimeter"></div>
    {% endif %}

        <div class="category-block">
            <div class="category-block__name">Жанры</div>

            {% for genry in genries %}
            <div class="category-block__category_element text-container">
                <a href="{{ path("searchBy", {"genry": genry}) }}" class="text-container__text">{{ genry }}</a>
            </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}